.badge_demand {
  margin: 20px 100px;
}

img.badge {
  margin-left: -140px;
  width: 8%;
}

.user_name {
  font-size: 1.1em;
  font-weight: bold;
  margin-top: 40px;
}

.user_badge {
  height: 80px;
  width: 80px;
  margin: 10px 30px;
}

.name_badge {
  color: #918f8f;
  font-weight: bold;
  font-size: 1.1em;
  margin-top: 40px;
}

img.career{
  width: 16%;
  filter: grayscale(1);
  margin: 10px;
}

.layout-align-center-stretch {
  padding-left: 10%;
}

img.career:hover{
  cursor: pointer;
}

img.badge {
  margin-left: -100px;
}

.heart {
  margin: 10px 40px;
  height: 60px;
  width: 60px;
  filter: grayscale(0);
}

.heart:hover {
  cursor: pointer;
}

.heart:focus{
  outline: none;
}

.grey_heart {
  filter: grayscale(1);
  margin: 10px 40px;
  height: 60px;
  width: 60px;
}
