footer {
  background-color: white;
  text-align: center;
  height: 50px;
  padding-top: 10px;
  margin-top: 100px;
}

.copyright {
  float: left;
  padding-left: 18vw;
}

.logout {
  float: right;
  padding-right: 15%;
}
