.edit {
  border: 1px solid lightgrey;
  margin-bottom: 8em;
  background-color: white;
}

.ownsuccess {
  margin-right: 200px;
}

.newsuccess {
  border: 1px solid lightgrey;
  margin-bottom: 3em;
  background-color: white;
  padding: 20px 20px 25px 20px;
}

.smileys_delete {
    max-width:100%;
    position: relative;
    display: flex;
    align-items: center;
    text-align: right;
  }

.delete_button {
    margin-left: 41vw;
    margin-top: -4.5vh;

  }

.tabsdemoDynamicHeight md-content {
    background-color: transparent !important;
}

.tabsdemoDynamicHeight md-content md-tabs {
    background: #f6f6f6;
    border: 1px solid #e1e1e1;
}

.tabsdemoDynamicHeight md-content md-tabs md-tabs-wrapper {
    background: white;
}

md-tabs md-ink-bar {
  background-color: orange;
  color: orange;
}

#username {
  font-size: 20px;
  font-weight: bold;
}

hr {
  width: 100%;
  margin-bottom: 2vh;
}

.smiley_sunglasses {
  height: 2.5em;
}

.compteur_smiley {
  height: 2em;
  float: left;
}

.compteur_smiley_modal {
  height: 2em;
}

li {
  list-style: none;
}

.post {
  margin: 40px 40px 35px 10px;
}

.layout-row {
    -webkit-box-orient: horizontal;
    -webkit-flex-direction: row;
    flex-direction: row;
    justify-content: space-between;
}

ul {
  padding: 0;
  margin: 0;
}
