/*info perso*/

.profile {
    border: 1px solid lightgrey;
    /*margin: 0em 15vw 2vh 3vw;*/
    background-color: white;
}

.decaluser {
  padding-left: 2em;
}

@media screen and (max-width: 600px) {
  .profile {
    margin: auto;
  }
}

.tabsdemoDynamicHeight md-content {
    background-color: transparent !important;
}

.tabsdemoDynamicHeight md-content md-tabs {
    background: #f6f6f6;
    border: 1px solid #e1e1e1;
}

.tabsdemoDynamicHeight md-content md-tabs md-tabs-wrapper {
    background: white;
}

.tabsdemoDynamicHeight md-content h1:first-child {
    margin-top: 0;
}

md-tabs md-ink-bar {
    background-color: orange;
    color: orange;
}

.md-raised {
    float: right;
}

.inputdemoIcons .inputIconDemo {
    min-height: 48px;
}

md-icon.email {
    color: green;
}

md-icon.name {
    color: dodgerblue;
}

.inputdemoIcons md-input-container.md-input-invalid>md-icon.email, .inputdemoIcons md-input-container.md-input-invalid>md-icon.name {
    color: red;
}
