body {
  background-color: #f2f2f2;
}

header {
  padding: 10px;
  background-color: #fff;
}

h1 {
  font-size: 3.5em;
}

input.search {
  border-radius: 4px;
  background-color: #f2f2f2;
  height: 40px;
}

input.search:focus {
    outline: none;
}

.md-icon-button {
  background-color: lightgrey;
}

.md-avatar {
  margin-top: 1vh;
  width:4em;
  height:4em;
  border-radius: 50px;
}

.avatar {
  text-align: right;
}

/*navbar*/
nav {
  height: 200px;
}

ul._md-nav-bar-list {
  border-top: 2px solid lightgrey;
  background-color: #f2f2f2;
  text-transform: lowercase;
}

span._md-nav-button-text {
  text-transform: none;
  color: black;
  font-size: 1.4em;
}

.reussites_session {
  text-align: right;
}

.reussites {
  text-align: center;
}

.evaluer {
  text-align: left;
}

md-nav-bar md-nav-ink-bar {
   color: orange;
   background: orange;
}
