<nav role="navigation" ng-controller="NavbarController">
    <header>
        <div layout="row" layout-align=" end">
            <div flex="10"><img src="img/logo_wcs.png" alt="logo"></div>
            <div flex="20">
                <h1>Safaro</h1></div>
            <md-input-container class="md-block" flex-gt-sm flex="45">
                <label>Rechercher ...</label>
                <input ng-model="user.firstName">
            </md-input-container>
            <div flex class="avatar"><img ng-src="img/squirrel.jpg" ui-sref="user.profile" class="md-avatar" alt="{{contact.name}}" /></div>
        </div>
    </header>

    <md-content>
        <md-nav-bar class="menu" md-selected-nav-item="currentNavItem" nav-bar-aria-label="navigation links">
            <md-nav-item ui-sref="user.home" ng-show="auth.isAuthenticated()" class="reussites_session" flex="45" md-nav-click="goto('page1')" name="page1">
                <!--route provisoire à changer-->
                Réussites de la session</md-nav-item>
            <md-nav-item class="reussites" ui-sref="user.mes_reussites" flex="15" md-nav-click="goto('page2')" name="page2">Mes réussites</md-nav-item>
            <md-nav-item flex md-nav-click="goto('page3')" name="page3">Badger</md-nav-item>
        </md-nav-bar>
    </md-content>
</nav>
