<div class="login-container">
  <div class="left">
    <h1 class="login-h1">Me connecter</h1>
    <p class="have_account">Vous n'avez pas de compte ? <a ui-sref="anon.register">Créez-en un ici !</a></p>
    <md-content layout-padding>
      <div>
        <form class="userForm" name="userForm" ng-submit="login()">
          <div layout-gt-sm="row">
            <md-input-container class="md-block" flex-gt-sm>
              <label>Adresse email</label>
              <input ng-model="user.email" required>
            </md-input-container>
          </div>
          <div layout-gt-sm="row">
            <md-input-container class="md-block" flex-gt-sm>
              <label>Mot de passe</label>
              <input type="password" ng-model="user.password" required>
            </md-input-container>
          </div>
          <h2>Mon humeur du jour</h2> <br />
          <div class="smileys" layout="row" layout-align="space-around">
              <img ng-repeat="mood in moods" ng-class="{'selected': (user.mood === mood)}" ng-click="changeMood(mood)" class="smiley" src="{{mood}}" alt="grinning">
          </div>
          <md-button type="submit" class="md-raised">Valider</md-button>
        </form>
      </div>
    </md-content>
  </div>
  <div class="loginBackground"></div>
</div>
