<div class="register-container">
  <div class="left">
    <h1 class="register-h1">Créer mon compte</h1>
    <md-content layout-padding>
      <div>
        <form class="userForm" name="userForm" ng-submit="register()">
          <div layout-gt-sm="row">
            <md-input-container class="md-block" flex-gt-sm>
              <label>Adresse email</label>
              <input ng-model="user.email" required>
            </md-input-container>
          </div>
          <div layout-gt-sm="row">
            <md-input-container class="md-block" flex-gt-sm>
              <label>Mot de passe</label>
              <input type="password" ng-model="user.password" required>
            </md-input-container>
          </div>
        </form>
      </div>
    </md-content>
  </div>
  <div class="registerBackground"></div>
</div>


<!-- <div class="row">
    <div class="col-xs-6 col-xs-offset-3">
        <form class="form" name="loginForm" novalidate ng-submit="register()">
            <div ng-repeat="error in errors">{{error.error}}</div>
            <div class="input-group">
                <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                <input type="text" class="form-control" ng-model="user.lastname" required placeholder="Nom">
            </div>
            <div class="input-group">
                <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                <input type="text" class="form-control" ng-model="user.firstname" required placeholder="Prenom">
            </div>
            <div class="input-group">
                <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                <input id="email" type="email" class="form-control" ng-model="user.email" required placeholder="Email">
            </div>
            <div class="input-group">
                <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
                <input id="password" type="password" class="form-control" ng-model="user.password" required placeholder="Password">
            </div>
            <div class="input-group">
                <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
                <input type="text" class="form-control" ng-model="user.pseudo" required placeholder="Pseudo Github">
            </div>
            <button type="submit" class="btn btn-primary btn-block">Register</button>
        </form>
    </div>
</div> -->
