<div class="badge_demand">
    <md-card layout="row" layout-align="space-between center">
        <md-card-header flex="50">
          <img class="user_badge" src="img/casimir.png" />
            <span class="user_name">{{ user.firstname }} {{ user.lastname }}</span><span class="name_badge">a demandé le badge "nom du badge"</span>
        </md-card-header>
        <img flex="5" class="badge" src="img/HTML.png"></img>
        <img class="heart" src="img/smiling_heart.png"></img>
    </md-card>
</div>
