<div flex-xs flex-gt-xs="30">
      <md-card>
        <md-card-header layout="column" layout-align="space-around center">
            <img class="profil" src="img/squirrel.jpg"/>
            <span class="md-title">{{ user.firstname }} {{ user.lastname }}</span>
            <span class="md-subhead">La Loupe, session #4</span>
        </md-card-header>
        <md-card-content layout="row" layout-align="space-around none">
          <div class="count" flex="50" layout="column"><span class="score">400</span><span class="md-headline">Réussites</span></div>
          <div flex="50" layout="column"><span class="score">32</span><span class="md-headline">Badges</span></div>
        </md-card-content>
        <md-card-content>
          <div class="smileys" layout="row" layout-align="space-around">
            <img ng-class="{'selected': (color === 1)}" ng-click="changeColor(1)" class="smiley" src="img/grinning.png" alt="grinning">
            <img ng-class="{'selected': (color === 2)}" ng-click="changeColor(2)" class="smiley" src="img/confused.png" alt="confused">
            <img ng-class="{'selected': (color === 3)}" ng-click="changeColor(3)" class="smiley" src="img/crying.png" alt="crying">
            <img ng-class="{'selected': (color === 4)}" ng-click="changeColor(4)" class="smiley" src="img/pouting.png" alt="pouting">
            <img ng-class="{'selected': (color === 5)}" ng-click="changeColor(5)" class="smiley" src="img/sleeping.png" alt="sleeping">
            <img ng-class="{'selected': (color === 6)}" ng-click="changeColor(6)" class="smiley" src="img/cool.png" alt="cool">
          </div>
        </md-card-content>
      </md-card>
</div>

<div flex-xs flex-gt-xs="30">
      <md-card layout="column" layout-align="space-around center">
        <img ng-click ="sendBadge()" ng-model="newBadge" type="submit" ui-sref="user.badger" class="career" src="img/badge_career.png" height="2%" width="2%"></img>
      </md-card>
</div>
