<div flex-xs flex-gt-xs="25" layout="column">
      <md-card>
        <md-card-header layout="column" layout-align="space-around center">
            <img class="profil" src="img/squirrel.jpg"/>
            <span class="md-title">Name Student</span>
            <span class="md-subhead">La Loupe, session #4</span>
        </md-card-header>
        <md-card-content layout="row" layout-align="space-around none">
          <div class="count" flex="50" layout="column"><span class="score">400</span><span class="md-headline">Réussites</span></div>
          <div flex="50" layout="column"><span class="score">32</span><span class="md-headline">Badges</span></div>
        </md-card-content>
        <md-card-content layout="row" layout-align="space-around none">
          <span class="smileys">SMILEYS</span>
        </md-card-content>
      </md-card>
</div>
