<div>
    <div class="ownsuccess">
            <md-content>
                <md-tabs md-dynamic-height md-border-bottom>
                    <md-tab class="partager_editer" label="Partager une réussite">
                        <form class="edit" ng-submit= "sendPost()">
                            <md-input-container class="md-block">
                                <label>Écrivez une réussite ici</label>
                                <textarea ng-model="newPost" md-maxlength="200" rows="2" md-select-on-focus></textarea>
                            </md-input-container>
                            <md-button type="submit" class="md-raised">Valider</md-button>
                        </form>

                        <ul>
                            <li class="newsuccess" ng-repeat="post in posts | orderBy:'createdate':true" ng-model="newPost" ng-change="check()">
                                <div class="success">
                                    <div layout="row post_line1">
                                        <img ng-src="http://github.com/{{post.student.pseudo}}.png" class="md-avatar posts" alt="{{user.lastname}}" />
                                        <div id="username"> {{ post.student.firstname }} {{ post.student.lastname }} </div>
                                        <img ng-src="img/cool.png" class="smiley_sunglasses" alt="smiley" />
                                    </div>
                                    <hr>
                                    <div class="post">{{ post.content }}</div>
                                    <hr>
                                    <div class="smileys_delete">
                                        <img ng-src="img/grinning.png" class="compteur_smiley" alt="smiley" />
                                        <img ng-src="img/wink.png" class="compteur_smiley smileys_test" alt="smiley" />
                                        <md-button ng-click="removePost(post._id)" type="submit" md-color="red" class="md-raised md-warn delete_button">Supprimer</md-button>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </md-tab>
                    <md-tab class="partager_editer" label="Editer mon profil">
                        <md-content class="md-padding profile">
                            <md-content class="md-no-momentum">
                                <md-input-container class="md-icon-float md-block">
                                    <!-- Use floating label instead of placeholder -->
                                    <label>Nom</label>
                                    <input ng-model="user.lastname" type="text">
                                </md-input-container>

                                <md-input-container class="md-icon-float md-block">
                                    <!-- Use floating label instead of placeholder -->
                                    <label>Prénom</label>
                                    <input ng-model="user.firstname" type="text">
                                </md-input-container>

                                <md-input-container class="md-block">
                                    <!-- Use floating placeholder instead of label -->
                                    <input ng-model="user.email" type="email" placeholder="Email (requis)" ng-required="true">
                                </md-input-container>

                                <md-input-container md-no-float class="md-block">
                                    <label>Ville</label>
                                    <input ng-model="user.city" type="text">
                                </md-input-container>

                                <md-input-container md-no-float class="md-block">
                                    <label>Session</label>
                                    <input ng-model="user.session" type="text">
                                </md-input-container>

                                <md-input-container md-no-float class="md-block">
                                    <label>Langage</label>
                                    <input ng-model="user.language" type="text">
                                </md-input-container>

                                <md-input-container md-no-float class="md-block">
                                    <label>Pseudo Github</label>
                                    <input ng-model="user.pseudo" type="text">
                                </md-input-container>

                                <md-input-container md-no-float class="md-block">
                                    <textarea ng-model="user.bio" type="text" placeholder="Biographie" rows="3" cols="80"></textarea>
                                </md-input-container>

                                <md-button class="md-raised md-warn" ng-click="update()">Editer</md-button>

                            </md-content>

                        </md-content>
                    </md-tab>

                </md-tabs>
            </md-content>
    </div>
</div>
