<div flex-offset-xs flex-offset-gt-xs="30">
  <div class="ownsuccess">

    <div class="success edit">
      <md-content>
        <md-tabs md-dynamic-height md-border-bottom>
          <md-tab label="Partager une réussite">
            <form ng-submit = sendPost()>
              <md-input-container class="md-block">
          <label>Écrivez une réussite ici</label>
          <textarea ng-model="newPost" md-maxlength="200" rows="2" md-select-on-focus></textarea>
        </md-input-container>
        <md-button type="submit" class="md-raised">Valider</md-button>
            </form>
          </md-tab>
          <md-tab ui-sref="user.profile" label="Editer mon profil">
            <md-content class="md-padding">
            </md-content>
          </md-tab>
        </md-tabs>
      </md-content>
    </div>

    <ul>
      <li ng-repeat="post in posts" ng-model="newPost" ng-change="check()">
        <div class="success">
          <div layout="row post_line1">
              <img ng-src="img/squirrel.jpg" class="md-avatar posts" alt="{{user.lastname}}" />
            <div id="username"> {{ user.firstname }} {{ user.lastname }} </div>
            <img ng-src="img/SMILING FACE WITH SUNGLASSES.png" class="smiley_sunglasses" alt="smiley" />
          </div>
          <hr> <div class="post">{{ post.content }}</div>
          <hr>
          <div>
            <img ng-src="img/FACE WITH OPEN MOUTH AND BIG SMILEY.png" class="compteur_smiley" alt="smiley" />
            <img ng-src="img/WINKY FACE.png" class="compteur_smiley" alt="smiley" />
            <md-button ng-click="removePost(post._id)" type="submit" md-color="red" class="md-raised md-warn">Supprimer</md-button>
          </div>
        </div>
      </li>
    </ul>
  </div>
</div>
