<nav role="navigation">
    <header layout="row" layout-wrap layout-align-md="start center" layout-align="start center">
      <div flex="6"><img class="logo" src="img/logo_wcs.png" alt="logo"></div>
      <div flex="30"><h1>Safaro</h1></div>
      <div flex=""><md-input-container class="md-block rechercher">
          <label>Rechercher ...</label>
          <input ng-model="user.firstName">
      </md-input-container></div>



            <!-- <div flex class="avatar"><img ng-src="http://github.com/{{user.pseudo}}.png" ui-sref="user.profile" class="md-avatar" alt="{{contact.name}}" /></div> -->

    </header>

    <md-content class="navbar">
        <md-nav-bar class="menu" md-selected-nav-item="currentNavItem" nav-bar-aria-label="navigation links">
            <md-nav-item ui-sref="user.reussites" class="reussites_session" flex="45" md-nav-click="goto('page1')" name="page1">
                <!--route provisoire à changer-->
                Réussites de la session</md-nav-item>
            <md-nav-item class="reussites" ui-sref="user.mes_reussites" flex="15" md-nav-click="goto('page2')" name="page2">Mes réussites</md-nav-item>
            <md-nav-item id="badger" ui-sref="user.badger" flex md-nav-click="goto('page3')" name="page3">Badger</md-nav-item>
        </md-nav-bar>
    </md-content>
</nav>
