<div flex-offset-xs flex-offset-gt-xs="30" layout="row" >
<md-content class="profile">
    <md-tabs md-dynamic-height md-border-bottom>
        <md-tab class="info" label="EDITER MON PROFIL">
            <md-content class="md-padding">
                <md-content class="md-no-momentum">
                    <md-input-container class="md-icon-float md-block">
                        <!-- Use floating label instead of placeholder -->
                        <label>Nom</label>
                        <md-icon md-svg-src="img/ic_person_24px.svg" class="name"></md-icon>
                        <input ng-model="user.lastname" type="text">
                    </md-input-container>

                    <md-input-container class="md-icon-float md-block">
                        <!-- Use floating label instead of placeholder -->
                        <label>Prénom</label>
                        <md-icon md-svg-src="img/ic_person_24px.svg" class="name"></md-icon>
                        <input ng-model="user.firstname" type="text">
                    </md-input-container>

                    <md-input-container class="md-block">
                        <!-- Use floating placeholder instead of label -->
                        <md-icon md-svg-src="img/ic_email_24px.svg" class="email"></md-icon>
                        <input ng-model="user.email" type="email" placeholder="Email (requis)" ng-required="true">
                    </md-input-container>

                    <md-input-container class="md-block">
                        <!-- Use floating placeholder instead of label -->
                        <md-icon md-svg-src="img/icons/ic_email_24px.svg" class="email"></md-icon>
                        <input type="password" placeholder="Mot de passe">
                    </md-input-container>

                    <md-input-container md-no-float class="md-block">
                        <label>Pseudo Github</label>
                        <md-icon md-svg-src="img/icons/ic_phone_24px.svg"></md-icon>
                        <input ng-model="user.pseudo" type="text">
                    </md-input-container>

                    <md-input-container md-no-float class="md-block">
                        <md-icon md-svg-src="img/icons/ic_phone_24px.svg"></md-icon>
                        <textarea ng-model="user.bio" type="text" placeholder="Biographie" rows="3" cols="80"></textarea>
                    </md-input-container>

                </md-content>
            </md-content>
        </md-tab>
    </md-tabs>
    <md-button type="submit" class="md-raised md-primary">Valider</md-button>
</md-content>
</div>
