<div>
  <div class="ownsuccess">
    <ul>
      <li class="newsuccess" ng-repeat="post in posts | orderBy:'createdate':true" ng-model="newPost" ng-change="check()">
        <div class="success">
          <div layout="row post_line1">
            <img ng-src="http://github.com/{{post.student.pseudo}}.png" class="md-avatar posts" alt="{{post.student.lastname}}" />
            <div id="username"> {{ post.student.firstname }} {{ post.student.lastname }} </div>
            <img ng-src="{{post.mood}}" class="smiley_sunglasses" alt="smiley" />
          </div>
          <hr>
          <div class="post">{{ post.content }}</div>
          <hr>
          <div class="likeButton">
            <md-button class="md-primary md-raised" ng-click="showAlert($event)"   >
              J'aime
            </md-button>
          </div>
          <!-- <div class="facebook-reaction">
            <!- <div
            <!- container div for reaction system ->
            <span class="like-btn"> <!- Default like button ->
						<span class="like-btn-emo like-btn-default"></span>
            <!- Default like button emotion->
            <span class="like-btn-text">J'aime</span>
            <!- Default like button text,(Like, wow, sad..) default:Like  ->
            <ul class="reactions-box">
              <!- Reaction buttons container->
              <li ng-repeat="smiley in smileys track by $index"><img src="{{ smiley.image }}" class="reaction" ng-click="addLike({{post._id}}, {{smiley._id}})" alt="{{ smiley.name }}"></li>
            </ul>
            </span>
          </div>
        </div> -->
      </li>
    </ul>
  </div>
</div>
